.logo {
    height: 60px;
}

body{
    margin: 0px;
}

.div-principal {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.title-principal {
    font-size: 30px;
}

.button {
    font-size: 20px;
    color: white;
    background-color: tomato;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid black;
    width: 80%;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.center {
    margin-bottom: 30%;
}

.div-2 {
    margin-top: 20px;
}

.div-3 {
    margin-left: -20px;
}

.titol-secon {
    font-weight: bold;
}

* {
    font-family: "Comic Sans MS";
}

.images {
    height: 240px;
}

div {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.format-div {
    border-radius: 10px;
    border: 2px solid black;
}

.apart {
    border-left: 2px solid black;
}

.images-2 {
    height: 130px;
}

.title-section {
    text-align: center;
}

p {
    text-align: center;
}

.last-div {
    margin-bottom: 50px;
}