* {
    box-sizing: border-box;
}

.div {
    float: left;
    text-align: center;
    font-size: 25px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.button {
    font-size: 20px;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid black;
    width: 80%;
    text-align: left;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

iframe {
    height: 700px;
    width:100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: -6px 6px 6px 6px red;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%}
.col-3{width: 25%}
.col-4{width: 33.33%}
.col-5{width: 41.66%}
.col-6{width: 50%}
.col-7{width: 58.33%}
.col-8{width: 66.66%}
.col-9{width: 75%}
.col-10{width: 83.33%}
.col-11{width: 91.66%}
.col-12{width: 100%}

.div-1 {
    border-radius: 15px;
    padding: 30px 20px;
    margin-top: 10px;
    box-shadow: -15px 15px 50px red;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
}

.caja{
    box-shadow: -3px 3px 3px 3px #929292;
}

.title {
    font-size: 35px;
    padding-boton: 100px;
}
.font-text {
    font-size: 20px;
}

.header {
    border-bottom: 2px solid #000000;
}

.center {
    text-align: center;
}

body {
    background-color: azure;
}
